# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node
node_modules/
package-lock.json

# Foundry VTT
world/
backups/
logs/
*.db
*.lock

# Build / Zip
dist/
*.zip
*.tar.gz

node_modules/
package.json
package-lock.json
process-images.js
