body.dark {
    --color-link: #da6a22;
    --color-ts: #e1e1e3;
    --color-ts-class: #b6cbe5;
    --color-ts-private: #beafc5
}

header .tsd-page-title {
    display: flex;
    align-content: center;
    margin: 40px 0;
    padding: 20px 0;
    min-height: 66px;
    background-image: url("https://foundryvtt.com/api/v13/media/foundryvtt.png");
    background-repeat: no-repeat;
    background-size: 96px;
    background-position: 6px 6px;
}

header .tsd-page-title .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .tsd-page-title .container > * {
    flex: none;
}
